# 字节码
__pycache__/
*.pyc
*.pyo
WebsiteBlockerBackend.egg-info/

# 虚拟环境
4.4 all/backend/
4.4 all/browser/
4.4 all/logs/
4.4 all/frontend/
venv/
env/
dist/
Output/
certificates/
dist-new-2/
dist-new/
node_modules/
build/
dist-exe/
.pkg-cache/
dist-electron/
node-v18.18.0-win-x86/
temp/

# IDE 配置
.vscode/
.idea/

# 日志和临时文件
*.log
tmp/
*.7z
tmp.txt
*.zip
*.yml
*.yaml
*.iss
